In [ ]:
from entsoe import EntsoePandasClient
import pandas as pd
from config import ENTSOE_TOKEN

client = EntsoePandasClient(api_key=ENTSOE_TOKEN)

start = pd.Timestamp('2014-12-15', tz='Europe/Brussels')
end = pd.Timestamp('2025-11-03', tz='Europe/Brussels')
country_code = 'FR'  # Belgium

ts = client.query_load(country_code, start=start, end=end)

                           Actual Load
2025-11-01 00:00:00+01:00      46400.0
2025-11-01 00:15:00+01:00      45375.0
2025-11-01 00:30:00+01:00      44035.0
2025-11-01 00:45:00+01:00      42971.0
2025-11-01 01:00:00+01:00      43007.0
...                                ...
2025-11-02 22:45:00+01:00      46917.0
2025-11-02 23:00:00+01:00      46951.0
2025-11-02 23:15:00+01:00      46265.0
2025-11-02 23:30:00+01:00      46644.0
2025-11-02 23:45:00+01:00      45871.0

[192 rows x 1 columns]